<div class="card mt-4">
  <h4 class="card-header">Admin</h4>
  <div class="card-body">
    <p>This page can be accessed <u>only by administrators</u>.</p>
    <h3>All Users:</h3>
    <!--<div *ngIf="loading" class="spinner-border spinner-border-sm"></div>-->
    <ul>
      <li *ngFor="let user of users">
        {{ user.username }} ({{ user.firstName }} {{ user.lastName }} - Role:{{
          user.role
        }}) -
        <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
      </li>
    </ul>
  </div>
</div>
